# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb

# Virtual environments
env/
venv/
ENV/
.venv/
.env/
.env
# PyCharm
.idea/

# Test and coverage
.coverage
htmlcov/
.tox/
.nox/
.cache/
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db


#Chroma db
/chroma_db